<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard Admin</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include('admin-partials/navbar') %>
        <h1>Selamat datang, <%= admin.nama %>!</h1>
        <p>Role: <%= admin.role %></p>

        <a href="/admin/logout">Logout</a>
    </body>
</html>
