<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard Admin</title>
    </head>
    <body>
        <h1>Selamat datang, <%= admin.nama %>!</h1>
        <p>Role: <%= admin.role %></p>

        <a href="/admin/logout">Logout</a>
    </body>
</html>
