<!-- Navigation Bar -->
<div class="navbar navbar-transparent sticky top-0 z-50 px-4 lg:px-8">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <i class="fas fa-bars text-xl" style="color: #2e7d32"></i>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white rounded-box w-52" style="border: 1px solid #e9e7e7">
                <li><a href="#beranda" style="color: #2e7d32">Beranda</a></li>
                <li><a href="#profil-alumni" style="color: #2e7d32">Profil Alumni</a></li>
                <li><a href="#lowongan" style="color: #2e7d32">Lowongan Pekerjaan</a></li>
                <li><a href="#informasi" style="color: #2e7d32">Informasi</a></li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl font-bold" style="color: #2e7d32">
            <i class="fas fa-graduation-cap mr-2"></i>
            Portal Alumni FTI
        </a>
    </div>

    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 space-x-2">
            <li><a href="#beranda" class="btn btn-ghost hover:bg-custom-light-gray" style="color: #2e7d32">Beranda</a></li>
            <li><a href="#profil-alumni" class="btn btn-ghost hover:bg-custom-light-gray" style="color: #2e7d32">Profil Alumni</a></li>
            <li><a href="#lowongan" class="btn btn-ghost hover:bg-custom-light-gray" style="color: #2e7d32">Lowongan Pekerjaan</a></li>
            <li><a href="#informasi" class="btn btn-ghost hover:bg-custom-light-gray" style="color: #2e7d32">Informasi</a></li>
        </ul>
    </div>

    <div class="navbar-end">
        <a href="/auth/login" class="btn btn-custom-primary">
            <i class="fas fa-sign-in-alt mr-2"></i>
            Login
        </a>
    </div>
</div>
