<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lihat Daftar Lowongan Pekerjaan</title>
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-br from-green-50 to-green-100 min-h-screen p--1">

  <!-- Navbar -->
  <div class="navbar bg-white shadow-md px-6">
    <div class="flex-1">
      <a class="font-bold text-green-700 text-lg">Portal Alumni FTI</a>
    </div>
    <ul class="menu menu-horizontal px-1 text-sm">
      <li><a>Beranda</a></li>
      <li><a>Profil Alumni</a></li>
      <li><a class="font-semibold text-green-800">Lowongan Pekerjaan</a></li>
      <li><a>Informasi</a></li>
      <li><a>Login</a></li>
    </ul>
  </div>

  <!-- Section: Daftar Lowongan -->
  <section class="py-10 px-6 max-w-7xl mx-auto">
    <div class="container mx-auto px-4 text-center">
    <h1 class="text-3xl font-bold text-green-700">Daftar Lowongan Pekerjaan</h1>
       <div class="absolute right-8 top-35 ">
    
  </div>
</div>

    <!-- Grid Lowongan -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-20">
      <!-- Card 1 -->
      <div class="card bg-white shadow rounded-xl">
        <div class="card-body">
          <h3 class="font-semibold">Judul lowongan</h3>
          <p class="text-sm text-gray-600">Deskripsi</p>
          <a href="#" class="text-green-700 text-sm font-medium mt-2">Selengkapnya</a>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card bg-white shadow rounded-xl">
        <div class="card-body">
          <h3 class="font-semibold">Judul lowongan</h3>
          <p class="text-sm text-gray-600">Deskripsi</p>
          <a href="#" class="text-green-700 text-sm font-medium mt-">Selengkapnya</a>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="card bg-white shadow rounded-xl">
        <div class="card-body">
          <h3 class="font-semibold">Judul lowongan</h3>
          <p class="text-sm text-gray-600">Deskripsi</p>
          <a href="#" class="text-green-700 text-sm font-medium mt-2">Selengkapnya</a>
        </div>
      </div>

     
      <!-- Card 4 -->
      <div class="card bg-white shadow rounded-xl">
        <div class="card-body">
          <h3 class="font-semibold">Judul lowongan</h3>
          <p class="text-sm text-gray-600">Deskripsi</p>
          <a href="/alumni/detail-job/1" class="text-green-700 text-sm font-medium mt-2">Selengkapnya</a>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="mt-20 flex justify-center gap-4 items-center">
      <button class="btn btn-sm btn-outline">1</button>
      <button class="btn btn-sm btn-disabled">Next Page</button>
    </div>
  </section>

</body>
</html>
